/* styles.module.scss */

.chat-room {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;

    .friends-list {
        flex: 1;
        background-color: #f2f2f2;
        border-right: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);

        h2 {
            margin-bottom: 10px;
            color: #333;
            font-size: 1.2em;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 10px;
                font-size: 1.1em;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .chat-area {
        flex: 3;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);

        h2 {
            margin-bottom: 10px;
            color: #333;
            font-size: 1.2em;
        }

        .message-display {
            height: 300px;
            border: 1px solid #ccc;
            overflow-y: scroll;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

            .message {
                margin-bottom: 10px;
                background-color: #e6e6e6;
                padding: 10px;
                border-radius: 5px;
                font-size: 1.1em;
            }
        }

        .message-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);

            input {
                flex: 1;
                padding: 10px;
                border: none;
                border-radius: 5px 0 0 5px;
                font-size: 1.1em;
                transition: box-shadow 0.3s;

                &:focus {
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
                    outline: none;
                }
            }

            button {
                padding: 10px 20px;
                background: linear-gradient(to right, #007bff, #0056b3);
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 1.1em;
                color: #fff;
                transition: all 0.3s ease;

                &:hover {
                    background: linear-gradient(to right, #0056b3, #0047a3);
                }
            }
        }
    }
}