.container {
  margin: 5rem auto;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .searchIcon {
    margin-right: 10px;
    color: #007bff;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    font-size: 16px;

    &::placeholder {
      color: #6c757d;
    }
  }
}

.exportButton {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.userList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .userCard {
    background-color: #fff;
    border: 1px solid #6c757d;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .userInfo {
      padding: 10px;

      h3 {
        margin: 0;
        font-size: 20px;
        color: #007bff;
      }

      p {
        margin: 0;
        font-size: 16px;
        color: #343a40;
      }
    }
  }
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0 5px;
  }

  a,
  .active a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #f2f2f2;
    transition: all 0.3s ease;
    border: 1px solid #ccc;
    font-size: 14px;

    &:hover {
      background-color: #e0e0e0;
    }

    &:focus {
      background-color: #00aeff;
    }
  }
}

@media (max-width: 768px) {
  .userList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .userList {
    grid-template-columns: 1fr;
  }
}