/* UserList.module.css */

/* Styling for the search bar */
.searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchBar img {
    width: 20px;
    margin-right: 10px;
  }
  
  .searchBar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }
  
  /* User card hover effect */
  .userCard:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  /* User info styles */
  .userInfo {
    margin-top: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
  p {
    font-size: 14px;
    color: #777;
    margin-bottom: 3px;
  }
  
  /* Pagination styles */
  .paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .paginationItem {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .paginationItem.active {
    background-color: #007bff;
    color: #fff;
  }
  
  /* CSV export button styles */
  .exportButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .exportButton:hover {
    background-color: #0056b3;
  }
  
  /* Responsive layout adjustments */
  @media (max-width: 700px) {
    .userListContainer {
      padding: 10px;
    }
  
    .userList {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 15px;
    }
  
    .userCard {
      padding: 8px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 16px;
    }
  
    .paginationContainer {
      flex-wrap: wrap;
    }
  
    .paginationItem {
      margin: 0 3px;
      padding: 3px 8px;
      font-size: 12px;
    }
  }
  


.ws {
  margin-top: 50%;
}