.container {
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    max-width: 80vw;
    min-width: 700px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-gap: 20px;
}

.container h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.link-account-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.link-account-btn:hover {
    background-color: #2980b9;
}

.link-account-btn:active {
    transform: scale(0.95);
}

.searchContainer {
    min-width: 650px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.searchInput {
    width: 67%;
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 30px 0 0 30px;
}

.searchField {
    width: 25%;
    margin: 0px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.searchIcon {
    transition: all 0.3s ease;
    cursor: pointer;
}

.searchIcon:hover {
    transform: scale(1.1);
}

.searchIcon:active {
    transform: scale(0.6);
}

/* Add this scss to your stylesheet */
.searchResultsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    gap: 20px;
    /* Add some spacing between items */
}

.searchResult {
    display: flex;
    padding: 10px;
    align-items: center;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.searchResult:focus,
.searchResult:hover {
    background-color: #a0a0a0;
    cursor: pointer;
}

.searchResult:active {
    transform: scale(0.9);
}

.searchResult img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    text-align: center;
    line-height: 160px;
}

.userInfo {
    margin-left: 10px;
    text-align: left;
}

.nav-bar {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    flex: 1;
    padding: 10px 0;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-btn:hover,
.nav-btn:focus {
    background-color: #a0a0a0;
}

.addEmployeeForm {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.addEmployeeForm .form-column {
    display: grid;
    grid-gap: 20px;
}

.addEmployeeForm label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.addEmployeeForm input,
.addEmployeeForm button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.addEmployeeForm button {
    background-color: #222;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0 50%;
    transition: all 0.3s ease;
}

.addEmployeeForm button:hover {
    background-color: #545454;
    transform: scale(1.3);
}